/*navbar*/

.logo{
    height:33px;
     width:120px;
}

.navbar-nav{   
  z-index: 2;
  display: flex;
  flex-direction: column;
  height: 70px;
  padding: 0;
  text-align: left;
  background-color:white;
  border-radius: 0;
  -webkit-appearance: none;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
  position: relative;
  }

.custom-row{
  -webkit-text-fill-color: black;
  background-color:white;
 

}

#dropdown{
  position: fixed;
}

.bag-quantity{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: orange;
  border-radius: 450%;
  font-size: 14px;
  font-weight: 700;
  color: black;
  margin-bottom: 5px;
}


/*navbar*/



/*alert*/

  .anouncement-content-wrapper{
    display:flex;
     align-items: center;
     justify-content: space-between;
     width:530px;
    
  }
  
  .alert{
    background-color: grey;
  }
  .alert-content-padding{
    margin-right: 10px;
  }

/*alert^*/


/*herosection*/

  .hero_wrapper{

    margin-top: 200px;
    float: center;
  
  
  }
  
 
  .the-real-herosection-container{
    display: block;
    height: 1080px;
    align-items: center;
    justify-content: center;
    
  
       
  }

  .herosection-content{
    display: flex;
    align-items: center;
    justify-content: center;;
  
   }

 /*herosection*/

  .HomePageContainer{
    background-image : url(https://images.vans.com/is/image/Vans/VN0A5JIV_BRR_ALT2?wid=1600&hei=1984&fmt=jpeg&qlt=90&resMode=sharp2&op_usm=0.9,1.7,8,0);    

  }


/*contactpage*/

.contact-title{
  align-items: center;
  margin-top: 30px;
}



.contactContainer{
  display:flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 30px;
}

/*contactpage^*/

.pagination{
  justify-content: space-between;
  align-items: center;
  margin-bottom: 500px;
}

.pagination-container{
  display: flex;
  justify-content: center;
  align-items: center;
}


/*store*/

.StoreContainer{
  background-color:white;
}
 
.product-card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;  
  margin-bottom: 100px;
  width: 320px;
  height: 470px;
  border-radius: 15px;
  box-shadow: -15px -15px 20px rgba(255, 255, 255, 0.5), 6px 6px 15px rgba(94, 104, 121, 0.3);
}

.card-button{
  width: 300px;
  height: 40px;
  border-radius: 5px;
  font-weight: 400;
  margin-bottom: 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  letter-spacing: 1.15px;
}
.product-card:hover{
  transform: scale(1.3);
}

.image-zoom{
    padding: 2px;
    transition: transform .3s;
    width: 260px;
    height: 260px;
    margin: 0 auto;
    zoom: 1;
}

.product-section{
  padding:30px;
  margin: 20px;
}

.productContainer h2 {
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  margin-top: 30px;
} 

.card-title{
  font-size: 25px;
  font-weight: 500;
}

.card-details{
display: flex;
justify-content: space-between;
align-items: center;
font-size: 18px;
font-weight: 500;
}

/*store^*/

/*productview*/

.product-details{
  width:500px;
  height: 500px;
  margin-left: 100px;
}

.product-details-info{
  margin-top: 30px;
}




.owlCarousel{
  background-color: black;
  height: 800px;
}



.not-found{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(68,68,68);
  min-height: 80vh;

}


