

.logo{
    height:33px;
     width:120px;
}

.navbar-nav{   
  z-index: 2;
  display: flex;
  flex-direction: column;
  height: 70px;
  padding: 0;
  text-align: left;
  background-color:white;
  border-radius: 0;
  -webkit-appearance: none;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
  }

.custom-row{
  -webkit-text-fill-color: black;
  background-color:white;
}
  .anouncement-content-wrapper{
    display:flex;
     align-items: center;
     justify-content: space-between;
     width:530px;
  
  }
  
  .alert{
    background-color: grey;
  }
  .alert-content-padding{
    margin-right: 10px;
  }

  .hero_wrapper{

    margin-top: 200px;
    float: center;
  
  
  }
  
 
  .the-real-herosection-container{
    display: block;
    height: 1080px;
    align-items: center;
    justify-content: center;
    
  
       
  }

  .herosection-content{
    display: flex;
    align-items: center;
    justify-content: center;;
  
   }

  .searchComponentContainer{
    background-color: black;
  }

  .searchComponentNavbar{
    background-color: white;

  }

  .HomePageContainer{
    background-image : url(https://images.vans.com/is/image/Vans/VN0A5JIV_BRR_ALT2?wid=1600&hei=1984&fmt=jpeg&qlt=90&resMode=sharp2&op_usm=0.9,1.7,8,0);    

  }

.StoreContainer{
  background-color:white;
}

.contact-title{
  align-items: center;
  margin-top: 30px;
}



.contactContainer{
  display:flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 30px;
}

.pagination{
  justify-content: space-between;
  align-items: center;
  margin-bottom: 500px;
}

.pagination-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15rem;
}

.product-card:hover{
  transform: scale(1.5);
}

.image-zoom{
   /* padding: 2px;
   background-color: grey;*/
    transition: transform .2s;
    width: 250px;
    height: 250px;
    margin: 0 auto;
}

.product-section{
  padding:30px;
  margin: 40px;
}

.product-details{
  width:500px;
  height: 500px;
  margin-left: 100px;
}

.product-details-info{
  margin-top: 30px;
}

.image-card-placing{
  display:flex;
  flex-direction: column;
  margin-top: 50px;
}

.DonatePage{
}

.owlCarouse{
  background-color: black;
  height: 1000px;
}

